/*------------> Menu de navegacion*/
.sidebar .nav{
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}

.sidebar .nav::-webkit-scrollbar{
    width: 5px;
}

.sidebar .nav::-webkit-scrollbar-thumb{
    background-color: var(--color-scroll);
    border-radius: 5px;
}

.sidebar .nav::-webkit-scrollbar-thumb:hover{
    background-color: var(--color-scroll-hover);
}
