.button-container {
    display: flex;
    flex-direction: column;
  }
  
  .button {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    border-bottom: 1px solid #ccc;
  }
  
  .icon {
    margin-right: 5px;
  }
  
  input[type="text"],
  input[type="password"] {
    flex: 1;
    border: none;
    background: none;
    outline: none;
    padding: 5px;
    font-size: 18px;
  }
  
  .form-check {
    text-align: start;
  }
  
  .form-check input[type="checkbox"] {
    cursor: pointer;
  }
  
  .form-check label {
    text-align: start;
  }
  
  .check {
    display: flex;
    align-items: center;
    padding: 10px;
  }
  
  .button-login {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
    background-color: #789d45;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    color: white;
    cursor: pointer;
    width: 80%;
    margin: 0 auto;
  }
  
  .button-login:hover {
    background-color: #4e524a;
  }
  
  .enlaces-autenticacion{
    display: flex;
    gap: 15px;
    margin-top: 15px;
  }
  
  .enlaces-autenticacion a {
    text-decoration: none;
    color: #789d45;
    font-weight: 500;
  }
  
  .enlaces-autenticacion a:hover {
    color: #4e524a;
  }
  
  .form-check-input:checked {
    background-color: #789d45;
    border-color: #789d45;
  }
  
  .form-check-input:focus {
    border-color: #6fa22978;
    box-shadow: 0 0 0 .25rem #6fa22978;
  }