/*------------> Nombre de la pagina */
.name-page {
    width: 100%;
    height: 45px;
    color: var(--color-texto);
    margin-bottom: 40px;
    display: flex;
    align-items: center;
}

.name-page .icon {
    display: flex;
    justify-content: center;
    min-width: 50px;
    font-size: 40px;
    cursor: pointer;
}

.name-page span {
    margin-left: 5px;
    font-size: 25px;
}